/*
 * Screen stylesheet for "around.me" website.
 *
 * Version: 0.1, 22 august 2012
 *
 * This stylesheet has the following ordering:
 *
 * 1. Elements
 * 2. Classes
 * 3. Ids
 * 
 */ 
 
/******************** Elements ********************/

body {
	font-family: Arial;
	font-size: 14px;
}

html, body {
	height: 100%;
	overflow: hidden;
}

header {
	height: 10%;
	overflow: hidden;
}

header h1 {
	font-size: 20px;
	padding: 0 5px 0;
}

footer {
	height: 10%;
}

/******************** Classes ********************/

.clear {
	clear: both;
}

/******************** Ids ********************/

#feed {
	background: #efefef;
	height: 30%;
	overflow: hidden;
}

#feed .content p {
	padding: 5px;
}

#feed .content .user {
	font-weight: bold;
}

#form input[type="submit"] {
	background: #5f78ab;
	border: 1px solid #29447e;
	color: #ffffff;
	font-weight: bold;
	height: 26px;
	margin-left: 5px;
	width: 100%;
}

#form input[type="text"] {
	float: left;
	height: 20px;
	width: 70%;
}

#form #sending {
	display: none;
	float: left;
	text-align: center;
	width: 28%;
}

#main {
	height: 80%;
}

#map {
	height: 70%;
}

#map_canvas {
	height: 100%;
	width: 100%;
}

#submit {
	float: left;
	width: 28%;
}
