/*
 * Screen stylesheet for "around.me" website.
 *
 * Version: 0.1, 22 august 2012
 *
 * This stylesheet has the following ordering:
 *
 * 1. Elements
 * 2. Classes
 * 3. Ids
 * 
 */ 
 
/******************** Elements ********************/

body {
	font-family: Arial;
	font-size: 14px;
}

html, body {
	height: 100%;
	overflow: hidden;
}

header {
	height: 10%;
	overflow: hidden;
}

header h1 {
	font-size: 20px;
	padding: 0 5px 0;
}

footer {
	height: 10%;
}

/******************** Classes ********************/

/******************** Ids ********************/

#feed {
	background: #efefef;
	height: 30%;
	overflow: hidden;
}

#feed .content p {
	padding: 5px;
}

#form input[type="submit"] {
	width: 25%;
}

#form input[type="text"] {
	width: 70%;
}

#main {
	height: 80%;
}

#map {
	height: 70%;
}

#map_canvas {
	height: 100%;
	width: 100%;
}
